.app {
  &-btn {
    &-main {
      background-color: $color-dark;
      width: 200px;
      height: 65px;
      color: #ffc56e;
      font-size: 0.9375em;
      line-height: 1.25;
      font-weight: 600;
      border-width: 3px;
      opacity: 0.85;
      background-position: center center;
      border-color: #ffa929;
      border-style: solid;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
      @include breakpoint($bp-sm) {
        height: 50px;
      }
      &:hover {
        background-color: #ffa929;
        color: $color-dark;
      }
      &-form {
        width: 100%;
        height: 50px;
        margin-top: 1em;
      }
    }
    &-default {
      background-color: $color-light-dark;
      width: 260px;
      height: 60px;
      color: $color-white;
      font-size: 1em;
      line-height: 1.25;
      font-weight: 600;
      border-width: 3px;
      opacity: 0.85;
      background-position: center center;
      border-color: $color-white;
      border-style: solid;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
      @include breakpoint($bp-md) {
        width: 200px;
      }
      &:hover {
        background-color: $color-white;
        color: $color-light-dark;
      }
    }
    &-tel {
      color: $color-light-dark;
      border: 1px solid $color-light-dark;
      text-transform: uppercase;
      width: 180px;
      height: 40px;
      display: inline-block;
      text-align: center;
      font-size: 0.875em;
      font-weight: 600;
      line-height: 2.8;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
      @include breakpoint($bp-xl) {
        width: 160px;
      }
      @include breakpoint($bp-lg) {
        width: 180px;
      }
      &:hover {
        background-color: $color-light-dark;
        color: $color-white;
      }
    }
  }
  &-input {
    margin-top: 1em;
    height: 50px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
  }
}
